<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_im"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/Theme.SegunadaApp"
        tools:targetApi="31">
        <activity
            android:name=".superherodosapp.DetailSuperHeroActivity"
            android:exported="false" />
        <activity
            android:name=".superherodosapp.SuperHeroListActivity"
            android:exported="false" />
        <activity
            android:name=".superheroapp.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".superheroapp.SuperHeroActivity"
            android:exported="false" />
        <activity
            android:name=".agedogapp.AgeDogActivity"
            android:exported="false" />
        <activity
            android:name=".todoapp.TodoActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.ToDoApp" />
        <activity
            android:name=".imccalculator.ResultIMCActivity"
            android:exported="false" />
        <activity
            android:name=".imccalculator.ImcCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>